.logo_first {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
}

.logo_second {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.address-style {
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  background-color: #ffffff;
}

.header_nav {
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header_nav:hover,
.header_nav:focus {
  color: #404bbf;
}

.header_address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.header_address:hover,
.header_address:focus {
  color: #404bbf;
}
.title-list {
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
}

.plan_section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text_section {
  color: #434455;
  letter-spacing: 0.02em;
}
.hero-section {
  background-color: #2e2f42;
  color: #ffffff;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.team-section {
  background-color: #f4f4fd;
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-specialists {
  background-color: #ffffff;
}

.names {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-section {
  background-color: #2e2f42;
  color: #ffffff;
  letter-spacing: 0.02em;
}

.footer-logo-one {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-two {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #f4f4fd;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
}
